<a href="https://colab.research.google.com/github/Ugot-Aaron-Paul/58013-LinearAlgebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indention

In [1]:
if 5>2:
  print("five is greater than two")

five is greater than two

Python Comments

In [7]:
#Eyy this a comment bruhh
print("Hello,world")

Hello,world

Python Variable

In [8]:
x = 1
a,b =0,1
a,b,c = 0,-1,2

In [ ]:
b = "Sally" #This is a type of string

Casting

In [12]:
b = "Sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() function

In [13]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double quotes or Single quotes

In [14]:
x = "John"
x = 'John'

Case sensitive

In [15]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

Multiple Variables

In [16]:
x,y,z = "One","Two", "Three"

print(x)
print(y)
print(z)
print(x,y,z)

One
Two
Three
One Two Three

One value to Multiple Variables

In [19]:
x = y = z = "Four"
print(x)
print(y)
print(z)

Four
Four
Four

Output Variables

In [24]:
x = "enjoying"
print("Python programming is " + x)
print("Python programming is", x)

Python programming is enjoying
Python programming is enjoying

In [25]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic Operations

In [26]:
x = 5
y = 3
print(x+y)

sum = x+y
sum

8

8

Assignment Operator

In [27]:
a,b,c = 0,-1,6
c%=3
c

0

Comparison Operator

In [28]:
#Comparison Operator in this program is ">"
a,b,c = 0,-1,6
a>b and c>b
True

True

Logical Operator

In [32]:
#Logical Operator in this program is "and"
a,b,c = 0,-1,6
a>b and c>b

True

Identity Operator

In [31]:
#Identity Operator in this program is "is"
a,b,c = 0,-1,5
a is c

False

Bitwise Operators

In [34]:
a,b,c = 0,-1,5
c<<1

10